
<div class="user_info">
	<a href="<%= user_path(current_user) %>">

	<%= gravatar_for current_user, :size => 30 %>

	<span class="user_name">
		<%= current_user.name %>
	</span>

	<span id="microposts_count" class="microposts">
		<%= pluralize(current_user.microposts.count, "micropost") %>
	</span>

	<span class="microposts">
		<%= current_user.admin ? "Admin user" : "not Admin user" %>
	</span>

	</a>
</div>

